/* ----------------------Account------------------------ */
.accountManagement {
  display: flex;
  padding-left: 80%;
}
h5:hover {
  color: rgb(255, 255, 255);
}
.verticalSeparator {
  padding-top: 2%;
  border-left: 1px solid rgb(255, 255, 255);
  height: 15px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 6%;
}

/* ---------------header section---------------- */
.globoIcon {
  display: flex;

  margin-left: 6%;
  padding-bottom: 1%;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  margin-right: 77%;
  padding-top: 1%;
  padding-left: 1%;
  border-radius: 3%;
}
.homeTittle {
  font-size: 20px;
}
.header {
  font-size: 45px;
  padding-top: 2%;
  margin: auto;
}
.headers {
  background-color: rgb(144, 9, 223);
}
.header2 {
  padding-bottom: 5%;
}
.inputDiv {
  padding-left: 69%;
  padding-bottom: 1%;
}

/* ------------------------------Global container--------------------------- */
.contentContainer {
  display: flex;
  margin: auto;
}

/* ----------------body section(countries)------------ */
.countriesContainer {
  font-size: 20px;
  background-color: rgba(235, 235, 236, 0.938);
  padding-right: 1%;
  margin-left: 2%;
}
h4:hover {
  color: rgb(212, 131, 9);
}
h4 {
  padding-bottom: 1%;
  padding-top: 1%;
}
a {
  text-decoration: none;
  color: inherit;
}
.countryImg {
  border-radius: 50%;
  width: 75px;
  padding-right: 1%;
  padding-left: 1%;
  margin-top: 2%;
}
.bodyImg2 {
  width: 600px;
  height: 200px;
}
/* --------------------------Home container---------------------------- */
.homeContainer1 {
  margin-left: 2%;
}
.homeContainer2 {
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 4%;
  padding-right: 6%;
  padding-top: 3%;
  background-color: white;
  text-align: left;

  padding-bottom: 7%;
}
.welcomeMessage {
  text-align: justify;
}
li {
  text-align: left;
}
/* --------------------------------footer-------------------------------------- */
.footer {
  background-color: rgb(144, 9, 223);
  display: flex;
}
.iconImg {
  width: 200px;
}
.footerDiv1 {
  text-align: justify;
  width: 300px;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.footerDiv2 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: left;
}
.footerDiv3 {
  text-align: left;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.rights {
  background-color: rgb(70, 8, 70);
  font-size: 15px;
}
/* -----------------RESOLUTION CHANGE------------------- */
@media screen and (max-width: 1100px) {
  .header {
    /* color: rgb(144, 9, 223); */
    font-size: 30px;
  }
  .verticalSeparator {
    padding-top: 12%;
  }
  .bodyImg3 {
    width: 600px;
  }
}
@media screen and (min-width: 1101px) {
  .bodyImg2 {
    width: 1176px;
  }
  .Bodyimg {
    width: 1176px;
    height: 600px;
  }
  .bodyImg3 {
    width: 1176px;
    height: 600px;
  }
  .homeContainer2 {
    width: 80%;
  }
}
/* -----------------RESOLUTION CHANGE------------------- */
